check process grafana-agent with pidfile /var/run/grafana-agent.pid
    start program = "/usr/bin/systemctl start grafana-agent"
    stop program = "/usr/bin/systemctl stop grafana-agent"
    restart program = "/usr/bin/systemctl restart grafana-agent"
    if failed port {{ grafana_agent.http_port | default(12345) }} protocol http then restart
    if 5 restarts within 5 cycles then timeout
    group grafana-agent
    depends on grafana-agent_bin

check file grafana-agent_bin with path {{ grafana_agent.install_dir }}/grafana-agent
    if changed checksum then alert
    group grafana-agent