server:
  log_level: info

metrics:
  global:
    scrape_interval: 15s
    remote_write:
{% for remote in grafana_agent.remote_write | default([]) %}
      - url: {{ remote.url }}
{% if remote.basic_auth is defined %}
        basic_auth:
          username: {{ remote.basic_auth.username }}
          password: {{ remote.basic_auth.password }}
{% endif %}
{% endfor %}

  configs:
    - name: default
      scrape_configs:
{% if grafana_agent.node_exporter.enabled | default(false) %}
        - job_name: 'node_exporter'
          static_configs:
            - targets: ['localhost:9100']
{% else %}
        - job_name: 'direct_system_metrics'
          static_configs:
            - targets: ['localhost:9100']
{% endif %}

logs:
  positions_directory: {{ grafana_agent.data_dir | default('/var/lib/grafana-agent') }}/positions
  configs:
  - name: default
    clients:
{% if grafana_agent.loki_url is defined %}
      - url: {{ grafana_agent.loki_url }}
{% endif %}
    scrape_configs:
{% if grafana_agent.promtail.enabled | default(false) %}
      - job_name: 'promtail'
        static_configs:
          - targets: ['localhost:9080']
{% else %}
      - job_name: 'direct_logs'
        static_configs:
          - targets: ['localhost:9080']
{% endif %}

integrations:
  node_exporter:
    enabled: {{ grafana_agent.node_exporter.enabled | default(true) }}
    include_exporter_metrics: true
  promtail:
    enabled: {{ grafana_agent.promtail.enabled | default(true) }}
