[Unit]
Description=OpsGenie Heartbeat for {{ item.name }}
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /usr/local/bin/opsgenie/{{ item.name }}_heartbeat.py
User=nobody
Group=nogroup

[Install]
WantedBy=multi-user.target
