check process node_exporter with pidfile /var/run/node_exporter.pid
    start program = "/usr/bin/systemctl start node_exporter"
    stop program = "/usr/bin/systemctl stop node_exporter"
    restart program = "/usr/bin/systemctl restart node_exporter"
    if failed port {{ node_exporter.port | default(9100) }} protocol http then restart
    if 5 restarts within 5 cycles then timeout
    group node_exporter
    depends on node_exporter_bin

check file node_exporter_bin with path {{ node_exporter.install_dir }}/node_exporter
    if changed checksum then alert
    group node_exporter