###############################################################################
## Monit configuration file
###############################################################################
## Global settings
set daemon {{ monit.check_interval | default(30) }}
set log {{ monit.log_file | default('/var/log/monit.log') }}

{% if monit.mail_enabled | default(false) %}
## Mail alerts
set mailserver {{ monit.mail_server | default('localhost') }} 
    port {{ monit.mail_port | default(25) }}
    {% if monit.mail_username %}
    username "{{ monit.mail_username }}"
    password "{{ monit.mail_password }}"
    {% endif %}
    {% if monit.mail_encryption %}
    using {{ monit.mail_encryption }}
    {% endif %}
    timeout {{ monit.mail_timeout | default(30) }} seconds

set alert {{ monit.mail_to | default('root@localhost') }} 
    not on { instance, action, pid, ppid }
    reminder {{ monit.check_interval | default(30) }} cycles
{% endif %}

## Include additional configurations
include {{ monit.include_dir | default('/etc/monit/conf.d') }}/*
