version: v3
teleport:
  nodename: {{ teleport.node_name }}
  data_dir: {{ teleport.data_dir }}
  log:
    output: stderr
    severity: INFO
    format:
      output: text

auth_service:
  enabled: {{ teleport.auth.enabled | string | lower }}
  cluster_name: {{ teleport.node_name }}
  listen_addr: 0.0.0.0:3025
  proxy_listener_mode: multiplex

ssh_service:
  enabled: {{ teleport.ssh_service.enabled | string | lower }}
  listen_addr: 0.0.0.0:3022
  commands:
{% for cmd in teleport.ssh_service.commands %}
    - name: {{ cmd.name }}
      command: {{ cmd.command | to_json }}
      period: {{ cmd.period }}
{% endfor %}

proxy_service:
  enabled: {{ teleport.proxy.enabled | string | lower }}
  listen_addr: 0.0.0.0:3023
  web_listen_addr: 0.0.0.0:3080
  tunnel_listen_addr: 0.0.0.0:3024
