[Unit]
Description=Teleport SSH Service
After=network.target

[Service]
Type=simple
User={{ teleport.user }}
Group={{ teleport.group }}
Restart=on-failure
ExecStart={{ teleport.install_dir }}/teleport start --config={{ teleport.config_dir }}/teleport.yaml --pid-file=/run/teleport.pid
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/teleport.pid
LimitNOFILE=524288

# Security settings
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
NoNewPrivileges=true
ReadWritePaths={{ teleport.data_dir }} {{ teleport.config_dir }}

[Install]
WantedBy=multi-user.target
