[Unit]
Description=Teleport SSH Service
After=network.target

[Service]
Type=simple
User=teleport
Group=teleport
Restart=on-failure
RuntimeDirectory=teleport
RuntimeDirectoryMode=0755
PIDFile=/run/teleport/teleport.pid
ExecStart=/usr/local/bin/teleport start --config=/etc/teleport/teleport.yaml --pid-file=/run/teleport/teleport.pid
ExecReload=/bin/kill -HUP $MAINPID
LimitNOFILE=524288

# Security settings
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true
ReadWritePaths=/var/lib/teleport /etc/teleport /run/teleport

[Install]
WantedBy=multi-user.target
